@import 'tailwindcss';

@font-face {
  font-family: 'YoungSerif';
  src: url('./assets/fonts/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: 'OutfitNormal';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'OutfitSemiBold';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'OutfitBold';
  src: url('./assets/fonts/Outfit-VariableFont_wght.ttf');
  font-weight: 700;
}

:root {

  /* Body Background Color */
  --body-bg-color: hsl(30, 54%, 90%);

  /* Color for Headings/Nutritions/and lists */
  --text-brown: hsl(14, 45%, 36%);

  /* Color for Paragraphs */
  --light-text-color: hsl(30, 10%, 34%);

  /* Color for the Main Heading and Bold text */
  --strong-text-color: hsl(24, 5%, 18%);

  /* Preperation Section colors */
    /* Prep Heading color */
      --ruby-text-color: hsl(332, 51%, 32%);
      --ruby-bg-color: hsl(330, 100%, 98%);

  /* Border between sections color */
    --border-color: hsl(30, 18%, 87%);

}


body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 6rem 1rem;
  background-color: var(--body-bg-color);
}

@media (max-width: 860px) {
  body {
    padding: 0px;
  }
}