@import 'tailwindcss';

:root {
  /* Color for Headings/Nutritions/and lists */
  --text-brown: hsl(14, 45%, 36%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}